<div class="content">
  <%= image_tag("openyoursite.png", :class => "firstImage") %>
  <h2>Story4 世界に発信</h2>
</div>

<div id="footer" class="item--float_left">
  <div id="footer__prev-btn" class="sidebar-button image--style_square">
    <a href="/hello_world/index4"><%= image_tag("left_arrow.png") %></a>
  </div>
  <div id="footer__next-btn" class="sidebar-button image--style_square">
    <%= image_tag("right_arrow.png") %>
  </div>
</div>
