<div class="content">
  <%= image_tag("next_innovation.png") %>
  <%= image_tag("image_1.jpg") %>
  <p>
    名前は残らない。しかし、僕らがおもしろいと思う誰も見たことがない、そして世の中の人が気に入ってくれる　そういうものを作ろう。
  </p>
  <a href="https://www.youtube.com/watch?v=FavLMAUZ6mY"><%= image_tag("image_2.jpg") %></a>
  <p class="text">
    今ここにない未来は自分で創る!!
  </p>
</div>
