<div class="content">
  <%= image_tag("index2_image1.jpg", :class => "first-image") %>
  <p>
    さぁ、はじめましょう。<br>
    プログラマーという大きな旅への一歩目です。
  </p>
  <h2>Story1 プログラマー</h2>
  <p>
    さっそくですが、あなたは今どうやってこのページを見ていますか？<br>
    パソコンやスマホを起動して、ほんの数回、クリックやタッチをするだけで、インターネット上のWebページを見ることができています。<br>
    この素晴らしい体験もプログラマーのおかげで実現できています。プログラマーは人々を幸せにできます。そして、このページを読んで、一歩踏み出したあなたも、もうプログラマーの一人なのです。
  </p>
  <%= image_tag("jobs.jpg") %>
</div>
