// マテリアルデザインの基本の色
$color-primary: #3F51B5;
$color-secondary: #C5CAE9;
$color-accent: #E91E63;
$color-window-background: #E8EAF6;

// よく使う色
$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;

body{
  width: 100%;
  min-width: 320px;
  font-size: 62.5%;
  font-family: Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  color: $color-white;
  font-size: 20px;
  font-weight: normal;
  padding: 2px 0;
}

header{
  position: fixed;
  padding: 16px;
  background-color: $color-primary;
  z-index: 5;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
  #header__title{
    float: left;
  }
  #header__menu{
    width: 24px;
    margin-right: 32px;
  }
}

footer{
  background: $color-primary;
  padding: 16px;
  #footer__next-btn{
    float: right;
  }
  div{
    width: 24px;
  }
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}
